/*@@@@@@@@@@@@@@@@@@@@ HEADER @@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

* {
  font-family: "Antonio", sans-serif !important;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: cornflowerblue; */
  margin: 5px;
  text-align: center;
  text-decoration: none;
}

.menu__desplegable {
  display: flex;
  padding: 10px 5px 0 0px;
  font-size: 20px;
  text-decoration: none;
  margin: 0;
}
.menu__desplegable ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  text-decoration: none;
  padding: 0;
}
.menu__desplegable a {
  text-decoration: none;
  margin: 0px 10px;
  display: flex;
  color: goldenrod;
  text-shadow: 3px 3px 5px black;
  cursor: pointer;

  /* border-top: 1px solid goldenrod;
    border-left: 1px solid goldenrod;  */

  /* transform-origin: left; */
  /* transition: 1s; */
}
/*BOTON QUE TITILA AL HACER HOVER*/
.menu__desplegable a:hover {
  animation: blink 0.4s;
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.menu__desplegable .btn-dark:hover {
  animation: blink 0.4s;
  color: goldenrod;
  background-color: transparent;
}

.menu img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/*SEPARADOR DE GRID*/
.linea__separadora {
  margin: 10px auto;
  width: 50%;
  border: 0;
  height: 1px;
  /*LINEA CON GRADIENTE*/
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}
.linea__separadora2 {
  margin: 5px auto;
  width: 50%;
  border: 0;
  height: 1px;
  /*LINEA CON GRADIENTE*/
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.75),
    rgba(255, 255, 255, 0)
  );
}
/* BOTON CONTACTO DESPLEGABLE */
.btn-dark {
  text-decoration: none;
  display: flex;
  color: goldenrod;
  text-shadow: 3px 3px 5px black;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 10px;
}
/*  menu desplegable */

.dropdown img {
  /* background-image: url(../Img/LOGO\ BABUINA\ SOLO\ FONDO\ NEGRO.png); */
  height: 50px;
  width: 50px;
  cursor: pointer;

  /* width: 50px; */
  /* padding: 10; */
  /* margin: 0; */
}

.dropdown-item:hover {
  background-color: transparent;
}

.dropdown-menu {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.dropdown-menu li {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dropdown-menu li:hover {
  background-color: hsl(0, 0%, 50%, 0.5);
}
.dropdown-item {
  padding: 0;
}
.dropdown a {
  cursor: pointer;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  .menu__desplegable {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .dropdown {
    display: none;
  }
}
