/*RESETEAR ESTILOS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Antonio", sans-serif;
  cursor: default;
}

* .cursor-pointer {
  cursor: pointer;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@  HEADER  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@  MENU DESPLIEGUE LATERAL  @@@@@@@@@@@@@@@@@@@@@@@@@*/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: cornflowerblue; */
  margin: 5px;
  text-align: center;
  text-decoration: none;
}

.menu__large {
  display: flex;
  padding: 10px 5px 0 0px;
  font-size: 20px;
  text-decoration: none;
  margin: 0;
}

.menu__large ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  text-decoration: none;
}

.menu__large a {
  text-decoration: none;
  margin: 0px 10px;
  display: flex;
  color: goldenrod;
  text-shadow: 3px 3px 5px black;
  cursor: pointer;
}

.menu__large img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/*BOTON QUE TITILA AL HACER HOVER*/
.menu__large a:hover {
  animation: blink 0.4s;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/*BOTON DE CONTACTO */
.menu__large .btn-dark:hover {
  animation: blink 0.4s;
  color: goldenrod;
  border-color: transparent;
  background-color: transparent;
}

/* MODIFICACION PARA PISAR PROPIEDADES DE BS*/
.btn-dark:focus {
  color: goldenrod;
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-dark:active,
.show > .btn-dark.dropdown-toggle {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.btn-check:active + .btn-dark:focus,
.btn-check:checked + .btn-dark:focus,
.btn-dark.active:focus,
.btn-dark:active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0rem rgba(66, 70, 73, 0.5);
}

/*SEPARADOR DE GRID*/
.linea__separadora {
  margin: 10px auto;
  width: 50%;
  border: 0;
  height: 1px;
  /*LINEA CON GRADIENTE*/
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.linea__separadora2 {
  margin: 5px auto;
  width: 50%;
  border: 0;
  height: 1px;
  /*LINEA CON GRADIENTE*/
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
}

/* BOTON CONTACTO LATERAL */
.btn-dark {
  text-decoration: none;
  display: flex;
  color: goldenrod;
  text-shadow: 3px 3px 5px black;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 10px;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@  MENU DESPLEGABLE  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*LOGO*/
.dropdown-item:hover {
  background-color: transparent;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dropdown-menu li {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dropdown-menu li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-item {
  padding: 0;
}

.dropdown img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.dropdown a {
  cursor: pointer;
}

.dropdown-menu-center {
  position: absolute;
  margin: 0px;
  transform: translate3d(-50px, 52px, 0px);
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@  MEDIA QUERIES  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media only screen and (max-width: 600px) {
  .menu__large {
    display: none;
  }
  .linea__separadora {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .dropdown {
    display: none;
  }
}

/*@@@@@@@@@@@@@@@@@@@@@FOOTER@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 0 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75), black);
  color: rgba(218, 165, 32, 0.5);
  text-shadow: 3px 3px 5px black;
  text-align: center;
}

.footer__contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: rgba(218, 165, 32, 0.5);
  text-shadow: 3px 3px 5px black;
  text-align: center;
}

.footer__contenedor--datos {
  display: flex;
}

.footer p {
  margin: 10px;
}

.footer__contenedor--redes ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding: 0;
}

.footer__contenedor--redes li {
  margin: 0px 10px;
  display: flex;
  font-size: 1rem;
  color: goldenrod;
  text-shadow: 3px 3px 5px black;
  text-decoration: none;
  cursor: pointer;
}

.footer__contenedor--redes li a {
  cursor: pointer;
  text-decoration: none;
  margin: 5px;
  display: flex;
  font-size: 1rem;
  color: goldenrod;
  text-shadow: 3px 3px 5px black;
  cursor: pointer;
}

.footer__contenedor--redes li a:hover {
  animation: blink 0.4s;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/*ESTILOS GENERALES*/
.index {
  background-image: url(./Img/dark_wood.png);
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  font-family: "Antonio", sans-serif;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
}

/*@@@@@@@@@@@@@@@@@@@@ BODY - LOGO @@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.hero {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px;
}

.hero div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero__titulos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__descripcion {
  color: whitesmoke;
  margin: 40px 0px 40px 0px;
  font-size: 40px;
  /*ANIMACION SUBTITULO*/
  animation: text-flicker-in-glow 4s linear both;
}

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}

.hero img {
  max-width: 50%;
  max-height: 50%;
}

/*@@@@@@@@@@@@@@@@@@@@CARDS@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.descubrinos {
  text-align: center;
  color: goldenrod;
  font-size: 4rem;
  text-shadow: 3px 3px 5px black;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.cards {
  height: 100%;
  width: 100%;
  padding: 0 2rem 5rem;
}

.alineacion_cards {
  display: flex;
  justify-content: center;
}

.cards__cards {
  border-radius: 5%;
  background-color: goldenrod;
  text-shadow: rgba(0, 0, 0, 0.1) -1px 0, rgba(0, 0, 0, 0.1) 0 -1px, rgba(255, 255, 255, 0.1) 1px 0, rgba(255, 255, 255, 0.1) 0 1px, rgba(0, 0, 0, 0.1) -1px -1px, rgba(255, 255, 255, 0.1) 1px 1px;
  box-shadow: 12px -8px 20px 3px;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  align-content: center;
  min-height: 400px;
  max-height: 500px;
  min-width: 250px;
  max-width: 300px;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}

.cards h3 {
  font-size: 1.5rem;
}

.cards p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  min-height: 50px;
}

.cards__img {
  /* background-color: lawngreen; */
  position: absolute;
  width: 90%;
  height: 72%;
  border-radius: 10%;
  overflow: hidden;
  display: flex;
  padding: 10px;
}

.cards__img img {
  border-radius: 10%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*RESETEAR ESTIOS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

/*ESTILOS GENERALES*/
/*ESTILOS GENERALES*/
.babuina-house {
  display: grid;
  grid-template-rows: auto 2fr auto auto;
  grid-template-columns: auto;
  font-family: "Antonio", sans-serif;
  background-image: url(../Img/dark_wood.png);
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@ SLIDE BAR  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ TITULO  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.slider__titulo {
  font-size: 7rem;
  text-align: center;
  color: goldenrod;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  text-shadow: #000 0px 0px 0px 40px;
  -webkit-font-smoothing: antialiased;
  /*ANIMACION TITULO */
  animation: text-flicker-in-glow 4s linear both;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

/*EFECTO TITULO*/
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
  0% {
    text-shadow: 0 0 18px rgba(255, 255, 255, 0);
    opacity: 0%;
  }
  100% {
    text-shadow: 3px 3px 5px black;
  }
}

/*TARJETAS*/
.container {
  width: 100%;
  justify-content: center;
}

.slider__cards {
  --bs-gutter-x: 0;
  justify-content: center;
  display: flex;
  width: 100%;
}

.slider__cards__cards {
  border-radius: 20px;
  max-height: 60%;
  margin: 10px;
  box-shadow: 0 0 30px black;
  background: url(./Img/Patterns/binding_dark.png);
}

.slider__cards__container {
  height: 400px;
}

.slider__cards img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.slider__cards a {
  text-decoration: none;
  color: goldenrod;
  text-shadow: 3px 3px 5px black;
  transform: translateY(-20px);
  font-size: 1.25rem;
}

.slider__cards__cards__container--descripcion {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.slider__cards__cards__container--descripcion h3 {
  color: goldenrod;
  text-shadow: 3px 3px 5px black;
  text-transform: uppercase;
  font-size: 3rem;
  padding: 10px;
  padding-right: 10px;
}

.slider__cards__cards__container--descripcion p {
  color: goldenrod;
  text-shadow: 3px 3px 5px black;
  font-size: 1.25rem;
}

/*@@@@@@ MAPA @@@@@@ */
.ubicacion__bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.ubicacion__bar__mapa {
  box-shadow: 0px 0px 100px 20px black;
  width: 75%;
}

.ubicacion__bar__mapa iframe {
  width: 100%;
  height: 300px;
}

h2 {
  text-align: center;
  color: #c9c7c7;
  font-size: 2rem;
  margin: 2rem;
  text-shadow: 3px 3px 5px black;
  display: flex;
  justify-content: center;
  z-index: 1;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@  MEDIA QUERIES  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* POP UP */
.body-contacto {
  font-family: "Antonio", sans-serif !important;
  color: white;
  font-size: 1.2rem;
  background-image: url(./Img/dark_wood.png);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
  margin: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body fieldset form input {
  text-align: center;
}

.logo-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-bottom: 20px;
}

h4 {
  text-align: center;
}

/* Centrar placeholder */
input[type="text"]::placeholder {
  text-align: center;
}

.probaste {
  width: 250px;
  margin: 10px;
}

.mb-3 {
  width: inherit;
  width: 300px;
}

/* DESPLEGABLE */
.offcanvas-header {
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.offcanvas {
  background-image: url(../Img/dark_wood.png);
}

.offcanvas-body {
  margin: 0;
  padding: 0;
}

.body-contacto2 {
  font-family: "Antonio", sans-serif !important;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body fieldset form input {
  text-align: center;
}

h4 {
  text-align: center;
}

/* Centrar placeholder */
input[type="text"]::placeholder {
  text-align: center;
}

.probaste2 {
  width: 60%;
  margin: 10px;
}

.mb-3 {
  width: inherit;
  width: 300px;
}

.titulo-contacto-desplegable {
  text-align: center;
  color: goldenrod;
  font-size: 3rem;
  margin: 1rem;
  padding: 0;
  text-shadow: 3px 3px 5px black;
  display: flex;
  justify-content: center;
}

html,
body {
  width: 100%;
  height: 100%;
}

.experiencia-babuina {
  display: grid;
  background-image: url(./Img/dark_wood.png);
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  font-family: "Antonio", sans-serif !important;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.contenedor-carousel {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.carousel {
  width: 95%;
  margin: auto;
}

.carousel img {
  object-fit: scale-down;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.expbab {
  grid-area: titulo;
  font-size: 4rem;
  text-align: center;
  color: goldenrod;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  text-shadow: #000 0px 0px 0px 40px;
  -webkit-font-smoothing: antialiased;
  /*ANIMACION TITULO */
  animation: text-flicker-in-glow 4s linear both;
  display: flex;
  padding: 20px;
  justify-content: center;
}

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
  0% {
    text-shadow: 0 0 18px rgba(255, 255, 255, 0);
    opacity: 0%;
  }
  100% {
    text-shadow: 3px 3px 5px black;
  }
}

.experiencia__texto {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: goldenrod;
  text-shadow: 3px 3px 5px black;
  font-size: 1.5rem;
  text-transform: uppercase;
  flex-wrap: wrap;
  margin: 30px;
}

.experiencia__texto p {
  display: flex;
  padding: 15px;
}

.experiencia__texto div ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 30px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.experiencia__texto div ul li {
  padding: 10px;
}

.experiencia__texto div ul li img {
  height: 30px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.nosotros {
  display: grid;
  background-image: url(./Img/dark_wood.png);
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  font-family: "Antonio", sans-serif !important;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.about__tarjetas {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0;
  margin: 0;
}

.about__column {
  display: flex;
  justify-content: space-evenly;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.about__card {
  margin: 15px;
  width: 60%;
}

.about__card h2 {
  margin: 5px;
}

.about__card img {
  border-radius: 100%;
  object-fit: cover;
}

.about__hero {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: goldenrod;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  text-shadow: #000 0px 0px 0px 40px;
  -webkit-font-smoothing: antialiased;
}

.about__section {
  padding: 20px;
  height: 35vh;
  padding: 10px;
  position: relative;
  text-align: center;
  overflow: hidden;
  object-fit: fill;
  color: white;
  display: flex;
  justify-content: center;
}

.about__section img {
  opacity: 0.75;
  width: 70%;
  position: absolute;
  object-fit: cover;
}

.about__container {
  padding: 0 5px;
}

.about__descripcion {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #ccc7c7;
  font-size: 1rem;
}

.about__title {
  font-size: 2rem;
  text-align: center;
  margin: 10px;
  color: goldenrod;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  text-shadow: #000 0px 0px 0px 40px;
  -webkit-font-smoothing: antialiased;
}

.about__title2 {
  font-size: 2rem;
  text-align: center;
  color: goldenrod;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  text-shadow: #000 0px 0px 0px 40px;
  -webkit-font-smoothing: antialiased;
}
