html,
body {
  width: 100%;
  height: 100%;
}

.nosotros {
  display: grid;
  background-image: url(../Img/dark_wood.png);
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  font-family: "Antonio", sans-serif !important;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.about__tarjetas {
  display: flex;

  justify-content: center;
  margin: auto;
  padding: 0;
  margin: 0;
}

.about__column {
  display: flex;
  justify-content: space-evenly;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.about__card {
  margin: 15px;
  width: 60%;

  h2 {
    margin: 5px;
  }

  img {
    border-radius: 100%;
    object-fit: cover;
  }
}

.about__hero {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: goldenrod;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  text-shadow: #000 0px 0px 0px 40px;
  -webkit-font-smoothing: antialiased;
}
.about__section {
  padding: 20px;
  height: 35vh;
  padding: 10px;
  position: relative;
  text-align: center;
  overflow: hidden;
  object-fit: fill;
  color: white;
  display: flex;
  justify-content: center;
  img {
    opacity: 0.75;
    width: 70%;
    position: absolute;

    object-fit: cover;
  }
}

.about__container {
  padding: 0 5px;

  // p {
  //   font-size: 2rem;
  // }
}
.about__descripcion {
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgb(204, 199, 199);
  font-size: 1rem;
}

.about__title {
  font-size: 2rem;
  text-align: center;
  margin: 10px;
  color: goldenrod;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  text-shadow: #000 0px 0px 0px 40px;
  -webkit-font-smoothing: antialiased;
}

.about__title2 {
  font-size: 2rem;
  text-align: center;
  color: goldenrod;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  text-shadow: #000 0px 0px 0px 40px;
  -webkit-font-smoothing: antialiased;
}

// @media screen and (max-width: 650px) {
//   .about__column {
//     width: 100%;
//     display: block;
//   }
// }
